@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Press any of the following buttons to go to the corresponding page, or use the header nav menu</p>
    <div class="mt-5">
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="EvenSumCalc">Number Calculator</a>
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="WordReversal">Word Reversal</a>
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="RectangleAPC">Rectangle Calculator</a>
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="TimeChecker">Time Overlap</a>
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="CommonString">Common String</a>
    </div>
    <div class="alert alert-primary mt-5" role="alert">
        <span class="d-block">The most frequent item is: @ViewBag.Name</span>
        <span class="d-block">It appeared @ViewBag.Count times.</span>
    </div>
</div>
